<h1>Listing file_records</h1>
 
<table>
  <tr>
    <th>file_record</th>
  </tr>
 
  <% @file_records.each do |file_record| %>
    <tr>
      <td><%= file_record.title %></td>
      <td><%= link_to 'Show', file_record_path(file_record) %></td>
      <td><%= link_to 'Edit', edit_file_record_path(file_record) %></td>
      <td><%= button_to 'Destroy', file_record_path(file_record),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', root_path %>
<%= link_to 'New', new_file_record_path %>


