<h1>Show File Record</h1>

<p>
  <strong>Title: </strong>
  <%= @file_record.title %><br>

  <strong>In office: </strong>
  <%= @file_record.steps.last.office.name %>
</p>

<h1>Step</h1>
<pre><h1> Office: </h1></pre>

<%= form_for([@file_record, @file_record.steps.build]) do |f| %>
  <p>
    <%= collection_select(:step, :office_id, Office.all, :id, :name) %>
  <p>
  <%= f.submit %>
  </p>
  <% end %>

  <p>
    <strong>History of steps:</strong><br>

    <% @file_record.steps.each do |step| %>
      <% if step.office_id != nil %>
        <%= step.office.name %><br>
      <% end %>
    <% end %>
  </p>

<br>
<%= link_to 'Back', file_records_path %>
<%= link_to 'Edit', edit_file_record_path(@file_record) %>
